body {
  padding: 2vmin;
  font: 3vmin "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/IQPkSV7.jpg);
}

a {
  color: red;
 
}

a:hover {
  color: blue;
}

h1 {
  padding: 2vmin;
}

h3 {
  color: blue;
}

.delete-form {
  display: inline-block;
  margin-right: 1vmin;
}

li {
  list-style: none;
}